@mixin content_dark {
  .content {
    .post {
      .tags {
        .tag {
          background-color: $alt-bg-color-dark;

          a {
            color: $fg-color-dark;
          }
          a:active {
            color: $fg-color-dark;
          }
        }
      }
      .secondary-text {
        color: $fg-text-secondary-dark;
      }
    }
    .list {
      ul {
        li {
          .title {
            color: $fg-color-dark;

            &:hover,
            &:focus {
              color: $link-color-dark;
            }
          }
        }
      }
    }

    .centered {
      .about {
        h1 {
          color: $fg-text-primary-dark;
        }
        h2 {
          color: $fg-text-secondary-dark;
        }
        ul {
          li {
            a {
              color: $fg-text-secondary-dark;

              &:hover,
              &:focus {
                color: $link-color-dark;
              }
            }
          }
        }
      }
    }
  }
}

body.colorscheme-dark {
  @include content_dark();
}

body.colorscheme-auto {
  @media (prefers-color-scheme: dark) {
    @include content_dark();
  }
}
